/* Reset */

.share-modal * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--share-modal-font-family);
}

.share-modal a {
  text-decoration: none;
}

/* Styles */

.share-modal-wrapper {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 99999;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.share-modal {
  width: 32vw;
  padding: 2rem;
  position: relative;
  border-radius: 1rem;
  background-color: var(--share-modal-white-color);
}

.share-modal--ltr {
  direction: ltr;
  text-align: left;
}

.share-modal--rtl {
  direction: rtl;
  text-align: right;
}

@media screen and (max-width: 1750px) {
  .share-modal {
    width: 36vw;
  }
}

@media screen and (max-width: 1550px) {
  .share-modal {
    width: 42vw;
  }
}

@media screen and (max-width: 768px) {
  .share-modal {
    width: calc(100vw - 2rem);
  }
}

/* Header */

.share-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share-modal-header__title {
  color: var(--share-modal-secondary-color);
}

.share-modal-header__close-icon {
  width: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: ease 0.3s fill;
  fill: var(--share-modal-secondary-light-color);
}

.share-modal-header__close-icon:hover {
  fill: var(--share-modal-red-color);
}

/* Share Modules */

.share-modules {
  display: grid;
  margin: 3rem 0;
  grid-gap: 1rem 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

/* Footer */

.share-modal-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.share-modal-footer__title {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--share-modal-secondary-light-color);
}

.copy-link-section {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

.copy-link-section--normal {
  background-color: rgba(157, 157, 157, 0.04);
}

.copy-link-section--outline {
  border: 1px solid rgba(157, 157, 157, 0.16);
}

.copy-link-section__link {
  width: 90%;
  overflow: hidden;
  font-size: 0.875rem;
  white-space: nowrap;
  line-height: 1.09rem;
  text-overflow: ellipsis;
  color: var(--share-modal-secondary-light-color);
}

.copy-link-section__copy-box {
  display: flex;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  align-items: center;
  border-radius: 50rem;
  justify-content: center;
  transition: ease 0.3s background-color;
}

.copy-link-section__copy-box:hover {
  background-color: var(--share-modal-primary-light-color);
}

.copy-link-section__copy-icon {
  width: 1.5rem;
  fill: var(--share-modal-primary-color);
}

/* Animation */

.scale-enter-active,
.scale-leave-active {
  transition: ease 0.3s all;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(1.2);
  opacity: 0;
}
